.header {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    font-family: 'Acme', sans-serif;

    h2 {
        font-size: 25px;
        color: var(--yellow);
        margin-top: -10px;
    }
}

.logo {
    text-decoration: none;
    color: var(--yellow);
}


