.search {
  background-color: var(--blue);
  padding: 100px 0;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  form {
    background-color: var(--white);
    padding: 10px 15px 30px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
  }
}
